<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <form action="/auth/login" method="post">
        <h1>Login</h1>
        Email: <input type="email" name="email"/>
        Password: <input type="password" name="password"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>