<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page</title>
</head>
<body>
    <p>trang cho customer</p>
    <h1>Welcome back, {{customer}}</h1>
    <a href="/admin ">Admin</a>
    <a href="/auth/login">Login</a>
</body>
</html>