<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
</head>
<style>
    .container {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button[type="submit"] {
        padding: 10px 20px;
        background-color: #007bff; /* Adjust the button color as needed */
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #0056b3; /* Adjust the button hover color as needed */
    }
</style>
<body>
    <div class="container">
    <form action="/admin/add-category" method="POST">
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Category name: </label>
        <input name="name" type="name" class="form-control" id="name">
        </div>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>